body {
  background-color: black;
}

@font-face {
  font-family: controls;
  src: url("controls.ttf");
}

h1 {
  text-align: center;
  font-size: 30px;
  color: black;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: normal;
  margin-top: 1%;
  margin-bottom: 0%;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: black;
}

canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#cuadro {
  text-align: center;
  background-color: lightgrey ;
  width: 50%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#video-controls {
  text-align: center;
}

#play-pause {
  font-size: 60px;
  font-family: controls;
  padding: 7px 20px 20px 20px;
  color: black;
  border: solid blue 6px;
  cursor:pointer; cursor: hand;
  text-decoration: none;
}

#text1 {
  text-align: center;
  font-size: 20px;
  color: black;
  margin-top: 5%;
  margin-bottom: 3%;
}

#cameras {
  text-align: center;
}
